@import "../globals"
body
    font-family: $font-corp
    color: #343434
// estilos del header
header 
    display: flex
    justify-content: space-between
    align-items: center
    background-color: $base-colorTransparent
    color: $base-color2
    padding: 15px
    border-bottom: 10px solid $base-color2

.welcome
    display: flex
    align-items: center
    font-family: $font-logo
    img
        height: 3rem
        margin-right: 10px

main
    min-height: 50vh
    background-image: linear-gradient(to right, #f9edff, #f0f0ff, #e9f3ff, #e3f6ff, #e2f8fd)
    padding-top: 5%


.logout-button 
    color: $base-color
    transition: all 0.3s ease
    margin-right: 30px


.logout-button:hover 
    color: $base-color2
    transform: scale(1.1)


//tooltip
.tooltip 
    position: relative
    display: inline-block


.tooltip .tooltiptext 
    visibility: hidden
    width: 100px
    background-color: #f4fdff
    color: $base-color2
    text-align: center
    padding: 5px
    border-radius: 6px
    position: absolute
    z-index: 1
    bottom: 125%
    left: 50%
    margin-left: -60px
    opacity: 0
    transition: opacity 0.3s


.tooltip:hover .tooltiptext 
    visibility: visible
    opacity: 1

//iconos

.fa-eye, .fa-file-alt
    color: $base-color2
    margin-right: 20px

.fa-check-circle
    color: $base-color

.fa-file, .fa-file-circle-plus, .fa-pencil-alt
    color: $add-color
    

.fa-plus, .fa-pencil-alt, .fa-file-circle-plus
    margin-right: 20px

.fa-user-times, .fa-trash
    color: $delete-color
    margin-right: 20px

i
    cursor: pointer
    transition: transform 0.3s ease

i:hover
    transform: scale(1.1)

//menu
.menu
    background-color: $base-color2Transparent
    padding: 20px
    border-bottom: 10px solid $base-color
    justify-items: center
    font-size: 1.2rem
    a
        text-decoration: none
        color: $base-color2
        padding: 20px
        grid-column: 1 / -1  /* Ocupar todas las columnas */
        transition: all 0.5s ease
        &:hover
            color: $base-color

.active 
    color: $base-color!important

    //listas
.fila 
    display: flex
    justify-content: space-between
    align-items: flex-start
    margin: 20px 15px
    border-bottom: 1px solid $base-color
    &>*
        margin-right: 40px

.lista-pacientes
    h1
        color: $base-color2
        font-size: 2rem
        text-align: center
        margin-bottom: 20px
        margin-top: 0

.pacientes
    font-size: 1.2rem
    text-align: justify
    strong
        color: $base-color2
    span
        text-decoration: underline
        

//tablas
.principal_table
    width: 90%
    @include tabla()
    tr td:last-child
        width: 40%

@media print 
    body
        font-size: 12px
        background-color: #fff
        color: #343434
        margin: 0
        padding: 0

    .principal_table
        width: 100%
        @include tabla()
        tr td:last-child
            width: 50%

    button
        background-color: $base-color
        color: white