body {
  font-family: "Roboto", sans-serif;
  color: #343434;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 217, 255, 0.05);
  color: #AB7FC8;
  padding: 15px;
  border-bottom: 10px solid #AB7FC8;
}

.welcome {
  display: flex;
  align-items: center;
  font-family: "Kode Mono", monospace;
}
.welcome img {
  height: 3rem;
  margin-right: 10px;
}

main {
  min-height: 50vh;
  background-image: linear-gradient(to right, #f9edff, #f0f0ff, #e9f3ff, #e3f6ff, #e2f8fd);
  padding-top: 5%;
}

.logout-button {
  color: #00daff;
  transition: all 0.3s ease;
  margin-right: 30px;
}

.logout-button:hover {
  color: #AB7FC8;
  transform: scale(1.1);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #f4fdff;
  color: #AB7FC8;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.fa-eye, .fa-file-alt {
  color: #AB7FC8;
  margin-right: 20px;
}

.fa-check-circle {
  color: #00daff;
}

.fa-file, .fa-file-circle-plus, .fa-pencil-alt {
  color: #48d654;
}

.fa-plus, .fa-pencil-alt, .fa-file-circle-plus {
  margin-right: 20px;
}

.fa-user-times, .fa-trash {
  color: #e44444;
  margin-right: 20px;
}

i {
  cursor: pointer;
  transition: transform 0.3s ease;
}

i:hover {
  transform: scale(1.1);
}

.menu {
  background-color: rgba(197, 122, 255, 0.05);
  padding: 20px;
  border-bottom: 10px solid #00daff;
  justify-items: center;
  font-size: 1.2rem;
}
.menu a {
  text-decoration: none;
  color: #AB7FC8;
  padding: 20px;
  grid-column: 1/-1;
  transition: all 0.5s ease;
}
.menu a:hover {
  color: #00daff;
}

.active {
  color: #00daff !important;
}

.fila {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 15px;
  border-bottom: 1px solid #00daff;
}
.fila > * {
  margin-right: 40px;
}

.lista-pacientes h1 {
  color: #AB7FC8;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}

.pacientes {
  font-size: 1.2rem;
  text-align: justify;
}
.pacientes strong {
  color: #AB7FC8;
}
.pacientes span {
  text-decoration: underline;
}

.principal_table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.principal_table td, .principal_table th {
  text-align: center;
}
.principal_table th {
  border: none;
  padding: 8px;
  background-color: #AB7FC8;
  color: white;
  font-weight: bold;
}
.principal_table th:first-child {
  border-top-left-radius: 8px;
}
.principal_table th:last-child {
  border-top-right-radius: 8px;
}
.principal_table td {
  border: 1px solid #eafbff;
  border-left: none;
  border-right: none;
  width: 50px;
  height: 50px;
  padding: 8px;
}
.principal_table tr {
  background-color: #d1f6ff;
}
.principal_table tr:hover {
  background-color: #b7f1ff;
}
.principal_table tr:nth-child(even) {
  background-color: #c1f3ff;
}
.principal_table tr:nth-child(even):hover {
  background-color: #b7f1ff;
}
.principal_table tbody tr:last-child td:first-child {
  border: none;
  border-bottom-left-radius: 8px;
}
.principal_table tbody tr:last-child td:last-child {
  border: none;
  border-bottom-right-radius: 8px;
}
.principal_table tr td:last-child {
  width: 40%;
}

.introPaciente {
  font-family: "Kode Mono", monospace;
  color: #AB7FC8;
  text-align: center;
}

form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f7eeff;
  border-radius: 5px;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.3);
}

input[type=text], input[type=password], input[type=email] {
  background-color: #f7eeff;
}

.btn {
  height: 2rem;
  padding: 0 1.5rem;
  background: linear-gradient(to right, #00daff, #00cbff, #29b8ff, #859eff, #AB7FC8);
  color: white;
  background-size: 400%;
  background-position: 90% 0;
  border-radius: 10px;
  padding: 5px 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
  transition: all 0.8s ease;
  cursor: pointer;
}
.btn:hover {
  background-position: 185% 50%;
  transform: translateY(-2px);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
}

.enviarBtn {
  background: none;
  height: 2rem;
  padding: 0 1.5rem;
  color: white;
  background-color: #48d654;
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
  transition: all 0.8s ease;
  cursor: pointer;
}
.enviarBtn:hover {
  background-color: #2bc038;
  transform: translateY(-2px);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
}

.menu-toggle {
  display: none;
  cursor: pointer;
  padding: 10px;
  margin-top: -15px;
  float: right;
  color: #00daff;
}

.mobile-menu {
  background-color: #eafbff;
  display: none;
  list-style: none;
  padding: 0;
  margin-top: -15px;
  border-top: 2px solid #00daff;
}
.mobile-menu li {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.mobile-menu li a {
  color: #AB7FC8;
  text-decoration: none;
}

.visible {
  display: block;
}

@media print {
  body {
    font-size: 12px;
    background-color: #fff;
    color: #343434;
    margin: 0;
    padding: 0;
  }
  .principal_table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
  }
  .principal_table td, .principal_table th {
    text-align: center;
  }
  .principal_table th {
    border: none;
    padding: 8px;
    background-color: #AB7FC8;
    color: white;
    font-weight: bold;
  }
  .principal_table th:first-child {
    border-top-left-radius: 8px;
  }
  .principal_table th:last-child {
    border-top-right-radius: 8px;
  }
  .principal_table td {
    border: 1px solid #eafbff;
    border-left: none;
    border-right: none;
    width: 50px;
    height: 50px;
    padding: 8px;
  }
  .principal_table tr {
    background-color: #d1f6ff;
  }
  .principal_table tr:hover {
    background-color: #b7f1ff;
  }
  .principal_table tr:nth-child(even) {
    background-color: #c1f3ff;
  }
  .principal_table tr:nth-child(even):hover {
    background-color: #b7f1ff;
  }
  .principal_table tbody tr:last-child td:first-child {
    border: none;
    border-bottom-left-radius: 8px;
  }
  .principal_table tbody tr:last-child td:last-child {
    border: none;
    border-bottom-right-radius: 8px;
  }
  .principal_table tr td:last-child {
    width: 50%;
  }
  button {
    background-color: #00daff;
    color: white;
  }
}
@media screen and (max-width: 650px) {
  main {
    padding: 15px 0;
    overflow: hidden;
  }
  #div {
    overflow-x: auto;
  }
  .menu {
    display: none;
  }
  .menu-toggle {
    display: block;
    cursor: pointer;
  }
  a.historial-btn {
    right: 20%;
    margin: 10px 0;
  }
  form {
    max-width: 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 651px) {
  .mobile-menu {
    display: none;
  }
}

/*# sourceMappingURL=comunes.css.map */
