@import "../globals"
//menu 

.menu
    display: grid
    grid-template-columns: repeat(5, 1fr)  /* Cuatro columnas con igual ancho */
    justify-content: center
    align-items: center
//main
main
    background-color: $base-colorTransparent
    min-height: 100vh 
    padding-top: 20px

//secciones
.inicio
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr

.articulo-inicio
    border: 3px solid $base-color
    margin: 5%
    background-color: white
    border-radius: $border-radius-medium
    h1
        color: $base-color
        font-size: 2rem
        text-align: center
        margin-bottom: 20px



//buscador
.buscador 
    display: flex
    gap: 8px
    align-items: center
    background-color: white
    padding: 10px
    border-radius: $border-radius-medium
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5)
    width: 200px
    margin: 20px auto
    margin-bottom: 80px

.buscador i 
    color: $base-color


.buscador input 
    border: none



//botones
.btn 
    @include boton-gradiente(2rem, 1.5rem, $border-radius-medium, 0.8s)

.cancelBtn
    background: none
    @include boton(2rem, 1.5rem, $border-radius-medium, 0.8s, $delete-color)


a.historial-btn
    @include boton-gradiente(1rem, 1.5rem, $border-radius-medium, 0.8s)
    text-decoration: none
    position: absolute
    right: 5%

#comentarios img
    width: 100px  // Reducimos el tamaño de la imagen
    margin: 10px auto

#comentarios
    text-align: center