@import "../globals"
//menu 

.menu
    display: grid
    grid-template-columns: repeat(4, 1fr)  /* Cuatro columnas con igual ancho */
    justify-content: center
    align-items: center
//main
main
    background-color: $base-colorTransparent
    min-height: 100vh 
    padding-top: 20px

//secciones
.inicio
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr

.articulo-inicio
    border: 3px solid $base-color
    margin: 5%
    background-color: white
    border-radius: $border-radius-medium
    h1
        color: $base-color
        font-size: 2rem
        text-align: center
        margin-bottom: 20px



//formulario alta 
form 
    max-width: 400px
    margin: 50px auto
    padding: 20px
    background-color: $base-color2-whited
    border-radius: 5px
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.3)

input[type="text"], input[type="password"], input[type="email"]
    background-color: $base-color2-whited 



//botones
.btn 
    @include boton-gradiente(2rem, 1.5rem, $border-radius-medium, 0.8s)

.cancelBtn
    background: none
    @include boton(2rem, 1.5rem, $border-radius-medium, 0.8s, $delete-color)