@import "../globals"
//menu 

.menu
    display: grid
    grid-template-columns: repeat(4, 1fr)  /* Cuatro columnas con igual ancho */
    justify-content: center
    align-items: center
//main
main
    background-color: $base-colorTransparent
    min-height: 100vh 
    padding-top: 20px

//secciones
.inicio
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr

.articulo-inicio
    border: 3px solid $base-color
    margin: 5%
    background-color: white
    border-radius: $border-radius-medium
    h1
        color: $base-color
        font-size: 2rem
        text-align: center
        margin-bottom: 20px

//pacientes
.fila 
    display: flex
    justify-content: space-between
    align-items: center
    margin: 20px 15px
    border-bottom: 1px solid $base-color


.lista-pacientes
    h1
        color: $base-color2
        font-size: 2rem
        text-align: center
        margin-bottom: 20px
        margin-top: 0

.pacientes
    font-size: 1.2rem



//modales
.modal
    position: fixed
    z-index: 1000
    top: 20%
    left: 30%
    width: 40%
    height: fit-content
    background-color: $base-color-whited
    padding: 1rem
    border-radius: 6px
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2)
    display: none
    border: 2px solid $base-color
    h2
        color: $base-color2
    form
        background-color: $base-color-whited
        box-shadow: none

.detalles-text 
    margin: 10px

#backdrop 
    position: fixed
    z-index: 990
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.7)
    display: none

//tabla detalles registros 
table 
    width: 100%
    overflow-y: auto  

#camposRegistro 
    border-collapse: collapse
    width: 100%


#camposRegistro th
    padding: 8px
    text-align: left


#camposRegistro th 
    background-color: $base-color2
    color: white
    font-weight: bold


#camposRegistro tr:nth-child(even) 
    background-color: #f2f2f2


#camposRegistro tr:hover 
    background-color: #ddd

td 
    background-color: darken($base-color-whited, 10%)
    padding: 8px
    text-align: left
    width: 50px
    height: 50px

.modal input, select 
    width: 100%
    padding: 8px
    margin: 20px 0
    box-sizing: border-box

//formulario alta 
form 
    max-width: 400px
    margin: 50px auto
    padding: 20px
    background-color: $base-color2-whited
    border-radius: 5px
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.3)

input[type="text"], input[type="password"], input[type="email"]
    background-color: $base-color2-whited 



//botones
.btn 
    @include boton-gradiente(2rem, 1.5rem, $border-radius-medium, 0.8s)

.cancelBtn
    background: none
    @include boton(2rem, 1.5rem, $border-radius-medium, 0.8s, $delete-color)