.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

main {
  background-color: rgba(0, 217, 255, 0.05);
  min-height: 100vh;
  padding-top: 20px;
}

.inicio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.articulo-inicio {
  border: 3px solid #00daff;
  margin: 5%;
  background-color: white;
  border-radius: 10px;
}
.articulo-inicio h1 {
  color: #00daff;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 15px;
  border-bottom: 1px solid #00daff;
}

.lista-pacientes h1 {
  color: #AB7FC8;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}

.pacientes {
  font-size: 1.2rem;
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 20%;
  left: 30%;
  width: 40%;
  height: fit-content;
  background-color: #eafbff;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: none;
  border: 2px solid #00daff;
}
.modal h2 {
  color: #AB7FC8;
}
.modal form {
  background-color: #eafbff;
  box-shadow: none;
}

.detalles-text {
  margin: 10px;
}

#backdrop {
  position: fixed;
  z-index: 990;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

table {
  width: 100%;
  overflow-y: auto;
}

#camposRegistro {
  border-collapse: collapse;
  width: 100%;
}

#camposRegistro th {
  padding: 8px;
  text-align: left;
}

#camposRegistro th {
  background-color: #AB7FC8;
  color: white;
  font-weight: bold;
}

#camposRegistro tr:nth-child(even) {
  background-color: #f2f2f2;
}

#camposRegistro tr:hover {
  background-color: #ddd;
}

td {
  background-color: #b7f1ff;
  padding: 8px;
  text-align: left;
  width: 50px;
  height: 50px;
}

.modal input, select {
  width: 100%;
  padding: 8px;
  margin: 20px 0;
  box-sizing: border-box;
}

form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f7eeff;
  border-radius: 5px;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.3);
}

input[type=text], input[type=password], input[type=email] {
  background-color: #f7eeff;
}

.btn {
  height: 2rem;
  padding: 0 1.5rem;
  background: linear-gradient(to right, #00daff, #00cbff, #29b8ff, #859eff, #AB7FC8);
  color: white;
  background-size: 400%;
  background-position: 90% 0;
  border-radius: 10px;
  padding: 5px 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
  transition: all 0.8s ease;
  cursor: pointer;
}
.btn:hover {
  background-position: 185% 50%;
  transform: translateY(-2px);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
}

.cancelBtn {
  background: none;
  height: 2rem;
  padding: 0 1.5rem;
  color: white;
  background-color: #e44444;
  border-radius: 10px;
  padding: 5px 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
  transition: all 0.8s ease;
  cursor: pointer;
}
.cancelBtn:hover {
  background-color: #d61f1f;
  transform: translateY(-2px);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
}

/*# sourceMappingURL=psicologo.css.map */
